html
    head 
        title Home
            
    body    
        h1 Postgres User Manager
        a(href=`/createUser` ) Create User
        a(href=`/userListing`) User Listings
        a(href='/search') Search
