html 
    head
        title Search
    body 
        h1 Search
        a(href=`/createUser` ) Create User
        a(href=`/userListing`) User Listings
        a(href='/search') Search

    
        form(action=`/userSearch` method='post')
            
            p Enter a First or Last Name
            label(for='search') Search: 
            input(id='search', name='search') 
            input(type='submit')